<!--header-->
<div class="header">
  <mat-grid-list cols="12" rowHeight="80px" [gutterSize]="3">
    <!--logo area-->
    <div class="logo_area">
      <mat-grid-tile colspan="1">
        <h1>
          <a href="#" title="logo">
            <img alt="logo"/>
          </a>
        </h1>
      </mat-grid-tile>
    </div>
    <!--logo area-->
    <!--search area-->
    <div class="search_area">
      <mat-grid-tile [colspan]="restColspan()">
        <div class="search">  
          <button mat-icon-button>
              <mat-icon>search</mat-icon>
              <span>로마에 가보는건 어떠세요?</span>
          </button>
        </div>
     <!--   <input type="search" placeholder="검색" class="search"/>
     -->
      </mat-grid-tile>
    </div>
    <!--search area-->
    <!--nav-->
    <div class="nav">
      <mat-grid-tile *ngFor="let list of lists" [colspan]="list.cols">{{list.title}}</mat-grid-tile>
    </div>
    <!--nav-->
  </mat-grid-list>
</div>
<!--header-->

<!--
  <div class="demo-grid-list">
    <mat-card>
      <mat-card-title>Basic grid list</mat-card-title>
      <mat-card-content class="demo-basic-list">
        <mat-grid-list cols="4" [rowHeight]="basicRowHeight">
          <mat-grid-tile>
          
          </mat-grid-tile>
          <mat-grid-tile> 
            <mat-grid-tile-footer>
              <h3 mat-line>d</h3>
              <span mat-line>Human: d</span>
              <mat-icon>star_border</mat-icon>
            </mat-grid-tile-footer>
          </mat-grid-tile>
          <mat-grid-tile> Three </mat-grid-tile>
          <mat-grid-tile> Four </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-title>Fixed-height grid list</mat-card-title>
      <mat-card-content>
        <mat-grid-list [cols]="fixedCols" [rowHeight]="fixedRowHeight">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
                        [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions>
      
        <button mat-button (click)="addTileCols()" color="primary">ADD COLSPAN (THREE)</button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card>
      <mat-card-title>Ratio-height grid list</mat-card-title>
      <mat-card-content class="demo-ratio-list">
        <mat-grid-list cols="2" [rowHeight]="ratio" gutterSize="4px">
          <mat-grid-tile *ngFor="let tile of tiles" [style.background]="'lightblue'">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions> 
       ffff
      </mat-card-actions>
    </mat-card>
  
    <mat-card>
      <mat-card-title>Fit-height grid list</mat-card-title>
      <mat-card-content class="demo-fit-list">
        <mat-grid-list cols="2" rowHeight="fit" [gutterSize]="ratioGutter"
                      [style.height]="fitListHeight">
          <mat-grid-tile *ngFor="let tile of tiles" [style.background]="'#F1EBBA'">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
   
    </mat-card>
  
    <mat-card>
      <mat-card-title>Grid list with header</mat-card-title>
      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="200px">
          <mat-grid-tile *ngFor="let dog of dogs" style="background:gray">
            <mat-grid-tile-header>
              <mat-icon mat-grid-avatar>info_outline</mat-icon>
              {{dog.name}}
            </mat-grid-tile-header>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-title>Grid list with footer</mat-card-title>
      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="200px">
          <mat-grid-tile *ngFor="let dog of dogs">
            <img [alt]="dog.name" src="https://material.angularjs.org/material2_assets/ngconf/{{dog.name}}.png">
            <mat-grid-tile-footer>
              <h3 mat-line>{{dog.name}}</h3>
              <span mat-line>Human: {{dog.human}}</span>
              <mat-icon>star_border</mat-icon>
            </mat-grid-tile-footer>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
  
-->
<!--<div class="demo-grid-list">
  <mat-card>
    
      <mat-grid-list cols="12">
        <mat-grid-tile>
          <h3 mat-line>d</h3>
        </mat-grid-tile>
        <mat-grid-tile> One </mat-grid-tile>
        <mat-grid-tile> Two </mat-grid-tile>
        <mat-grid-tile> Three </mat-grid-tile>
        <mat-grid-tile> Four </mat-grid-tile>
      </mat-grid-list>
  
    
  </mat-card>
</div>
-->