<!--
+user
+category
+primary_photo
+phone
+occupation
+birthday
+city
+lang_learning
+lang_fluent
+last_login
+created_at
+updated_at
+coun_visited
+coun_lived
+recommend_counter
```

## Description

```
+profile
+talent
+bio
+story
+interest
```

## Photo

+profile
+caption
+image
+created_at
-->

<!--
  +user
+category
+primary_photo
+phone
+occupation
-->
<form action="#" method="post" id="edit-profile">
  <p>
     <label class="user_first_name" for="user_first_name">이름</label>
     <input id="user_first_name" type="text" name="userFirstName"/>
  </p>
  <p>
     <label class="user_last_name" for="user_last_name">이름</label>
     <input id="user_last_name" type="text" name="userLastName"/>
  </p>
  <p>
    <label class="user_sex" for="user_sex">
      성별
    </label>
    <select id="user_sex" name="userSex">
      <option value selected="selected">성별</option>  
      <!---
    </select>
  </p>
      
</form>