


 <mat-card>
  <form>
    <!--lastname-->
    <mat-form-field class="block">
      <!--placeholder는 사용자 정보 -->
      <input matInput type="text" name="firstName" formControlName="firstName" placeholder="이름"/>
    </mat-form-field>
    <!--lastname-->
    <!--firstname-->
    <mat-form-field class="block">
      <input matInput type="text" name="lastName" formControlName="lastName"
      placeholder="성"/>
    </mat-form-field>
    <!--firstname-->
    <!--sex-->
    <mat-form-field class="block">
      <mat-select placeholder="성별">
        <mat-option *ngFor="let test for tests" [value]="test.value">
          {{test.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--sex-->
    <!--birthday-->
    <mat-form-field>
      <mat-select placeholder="성별">
        <mat-option>여자</mat-option>
      </mat-select>
      <mat-select placeholder="성별">
        <mat-option>여자</mat-option>
      </mat-select>
      <mat-select placeholder="성별">
        <mat-option>여자</mat-option>
      </mat-select>
    </mat-form-field>
    <!--birthday-->
    <!--<mat-form-field>
      <mat-select placeholder="Colors" [(ngModel)]="selectedColor">
        <mat-option *ngFor="let color of colors" [value]="color.value">
        {{ color.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>-->
    <button mat-raised-button type="submit">가입하기</button>
   </form>
  </mat-card>
<!--<mat-toolbar class="nav">
  <span>logo</span>
  <span class="spacer"></span>
  <ul>
    <li>dd</li>
    <li>d</li>
  </ul>
</mat-toolbar>-->
<!--
+user
+category
+primary_photo
+phone
+occupation
+birthday
+city
+lang_learning
+lang_fluent
+last_login
+created_at
+updated_at
+coun_visited
+coun_lived
+recommend_counter
```

## Description

```
+profile
+talent
+bio
+story
+interest
```

## Photo

+profile
+caption
+image
+created_at
-->

<!--
  +user
+category
+primary_photo
+phone
+occupation
-->
